/*
 * @NOTE: Prepend a `~` to css file paths that are in your node_modules
 *        See https://github.com/webpack-contrib/sass-loader#imports
 */
body {
  position: relative;
  color: white;
  background-color: #fff;
  font-family: sans-serif;
  overflow-y: hidden;
  display: flex;
  padding: 25px;
}
